body {
    margin: 0;
    background: whitesmoke;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    padding: 0 2rem;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight-medium: 500;
}

.desktop-nav {
    display: none;
}

.desktop-nav a {
    margin-left: 24px;
    text-decoration: none;
    color: rgb(58, 51, 51);
    transition: 0.3s;
}

.desktop-nav a:hover {
    color: #5542ce;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #333;
    transition: 0.3s;
}

.side-menu {
    position: fixed;
    left: -280px;
    top: 0;
    width: 260px;
    height: 100%;
    background: white;
    padding: 20px;
    box-shadow: 3px 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.side-menu.open {
    left: 0;
}

.side-menu a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
}

.side-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-btn {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #444;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1100;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }
    footer {
        padding: 2rem 4rem;
    }
}

.h {
    height: 30rem;
    margin-top: 10rem;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  font-size: 26px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  animation: whatsapp-pulse 2.9s infinite;
  transition: transform 0.25s ease, box-shadow 0 0 0 30px rgba(37, 211, 102, 0);
  animation-duration: 3.5s;
  transform: scale(1.07);
}

.whatsapp-float:hover {
  transform: scale(1.12);
}

.whatsapp-menu {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 20rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.15);
  display: none;
  z-index: 1000;
  overflow: hidden;
}

.whatsapp-menu-head {
  background: #25D366;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px 15px;  
  color: white;
    div{
        color: rgb(224, 220, 220);
        font-size: 12px;
    }
    span {
        cursor: pointer;
    }
}

.whatsapp-menu-body {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 100;
    p {
        color: gray;
    }
}
.whatsapp-menu button {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  border: solid 1px #cac6c6;
  border-radius: 6px;
  cursor: pointer;
  background: #f2f2f2;
  text-align: left;
  padding-left: 12px;
}

.whatsapp-menu button:hover {
  background: #84e4eb20;
  border:solid 1px #84e4eb;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .whatsapp-float {
    font-size: 2rem;
  }

  .whatsapp-menu-head {
    font-size: 1.15rem;
    span {
        font-size: 2rem;
    }
  }

  .whatsapp-menu-head div {
    font-size: 1rem;
  }

  .whatsapp-menu-body {
    font-size: 1rem;
  }

  .whatsapp-menu button {
    font-size: 1rem;
  }

  .whatsapp-float {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .whatsapp-float {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.5rem;
  }
}

@keyframes whatsapp-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.6);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 22px rgba(37, 211, 102, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}