body {
    margin: 0;
    background: whitesmoke;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    padding: 0 2rem;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight-medium: 500;
}

.desktop-nav {
    display: none;
}

.desktop-nav a {
    margin-left: 24px;
    text-decoration: none;
    color: rgb(58, 51, 51);
    transition: 0.3s;
}

.desktop-nav a:hover {
    color: #6a5acd;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #333;
    transition: 0.3s;
}

.side-menu {
    position: fixed;
    left: -280px;
    top: 0;
    width: 260px;
    height: 100%;
    background: white;
    padding: 20px;
    box-shadow: 3px 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.side-menu.open {
    left: 0;
}

.side-menu a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
}

.side-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-btn {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #444;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1100;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.h {
    height: 500px;
    background: #ececec;
    margin: 20px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }
    footer {
        padding: 2rem 4rem;
    }
}